<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon">
    <title>中医知识测验子系统-试卷问题添加</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/demo.css}" rel="stylesheet">
    <link th:href="@{/css/ready.css}" rel="stylesheet">
    <link th:href="@{/datatable/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body th:style="'background:url('+@{/images/backperson1.png}+') right bottom no-repeat fixed,url('+@{/images/backperson2.png}+') left bottom no-repeat fixed;background-size: 450px;background-color: #f5f5f5;'">
<div th:fragment="navbar" class="wrapper" role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
</div>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toExam')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title" th:text="${paperName}+'——添加试题页面'"></h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"><h2><a class="btn btn-info" href="#" th:href="@{/paper/toManagerQuestion/}+${paperId}">返回</a></h2> </div>
                            <form class="col-md-8" th:action="@{/paper/toAddQuestion/}+${paperId}">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                                <select class="form-control form-control-sm" name="book">
                                                <u>
                                                    <option th:text="伤寒论" th:value="s" th:if="'s'==${bookRes}" selected></option>
                                                    <option th:text="伤寒论" th:value="s" th:if="'s'!=${bookRes}"></option>
                                                </u>
                                                <u>
                                                    <option th:text="金匮要略" th:value="j" th:if="'j'==${bookRes}" selected></option>
                                                    <option th:text="金匮要略" th:value="j" th:if="'j'!=${bookRes}"></option>
                                                </u>
                                            </select>
                                        </div>
                                    </div>
                                <div class="col-md-2">
                                   <div class="form-group">
                                       <select class="form-control form-control-sm" name="type">
                                           <u>
                                               <option th:text="单选题" th:value="'a'" th:if="'a'==${questionTypesRes}" selected></option>
                                               <option th:text="单选题" th:value="'a'" th:if="'a'!=${questionTypesRes}"></option>
                                           </u>

                                           <u>
                                               <option th:text="多选题" th:value="'b'" th:if="'b'==${questionTypesRes}" selected></option>
                                               <option th:text="多选题" th:value="'b'" th:if="'b'!=${questionTypesRes}"></option>
                                           </u>
                                           <u>
                                               <option th:text="填空题" th:value="'c'" th:if="'c'==${questionTypesRes}" selected></option>
                                               <option th:text="填空题" th:value="'c'" th:if="'c'!=${questionTypesRes}"></option>
                                           </u>
                                           <u>
                                               <option th:text="问答题" th:value="'d'" th:if="'d'==${questionTypesRes}" selected></option>
                                               <option th:text="问答题" th:value="'d'" th:if="'d'!=${questionTypesRes}"></option>
                                           </u>
                                       </select>
                                   </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-border btn-round" th:text="查看"></button>
                                    </div>
                                 </div>
                                </div>
                            </form>
                        </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <table class="table table-head-bg-success">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">题目</th>
                                        <th scope="col">答案</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="que,queStat:${pageInfo.list}">
                                        <td th:text="${queStat.count}"></td>
                                        <td th:text="${que.getQuestionName()+' A.'+que.getAnswerA()+' B.'+que.getAnswerB()+' C.'+que.getAnswerC()+' D.'+que.getAnswerD()+' E.'+que.getAnswerE()}"></td>
                                        <td th:text="${que.getAnswer()}"></td>
                                        <td>
<!--                                            <button class="btn btn-sm btn-info" th:href="@{/paper/AddQuestion/}+${que.questionId}" th:if="!${quesds.contains(que.questionId)}">+</button>-->
<!--                                            <button class="btn btn-sm btn-danger"th:href="@{/paper/AddQuestion/}+${que.questionId}" th:if="${quesds.contains(que.questionId)}" disabled="">-</button>-->
                                            <a class="btn btn-sm btn-info"th:href="'/paper/AddQuestion?pid='+${paperId}+'&qid='+${bookRes}+${questionTypesRes}+${que.getId()}+'&questionTypesRes='+${questionTypesRes}" th:if="!${quesds.contains(bookRes+questionTypesRes+que.getId())}">+</a>
                                            <button class="btn btn-sm btn-danger" th:if="${quesds.contains(bookRes+questionTypesRes+que.getId())}" disabled="">！</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="demo">
                    </p><ul class="pagination pg-primary">
                    <u th:if="${pageInfo.hasPreviousPage}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:href="'/paper/toAddQuestion/'+${paperId}+'?pageNum='+${pageInfo.pageNum-1}+'&type='+${questionTypesRes}+'&book='+${bookRes}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    </u>
                    <u th:each="nav:${pageInfo.navigatepageNums}">
                        <li th:if="${pageInfo.pageNum!=nav}" class="page-item">
                            <a class="page-link" th:href="'/paper/toAddQuestion/'+${paperId}+'?pageNum='+${nav}+'&type='+${questionTypesRes}+'&book='+${bookRes}" th:text="${nav}"></a>
                        </li>
                        <li th:if="${pageInfo.pageNum==nav}" class="page-item active">
                            <a class="page-link" th:href="'/paper/toAddQuestion/'+${paperId}+'?pageNum='+${nav}+'&type='+${questionTypesRes}+'&book='+${bookRes}" th:text="${nav}"></a>
<!--                            <a class="page-link" th:href="'/question/getAllQuestion?pageNum='+${nav}+'&questionCourse='+${questionCourseresRes}+'&questionType='+${questionTypesRes}" th:text="${nav}"></a>-->
                        </li>
                    </u>
                    <u th:if="${pageInfo.hasNextPage}">
                        <li class="page-item">
                            <a class="page-link" href="#" th:href="'/paper/toAddQuestion/'+${paperId}+'?pageNum='+${pageInfo.pageNum+1}+'&type='+${questionTypesRes}+'&book='+${bookRes}">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </u>
                </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <!--footer-->
        <div th:replace="fragments/footer :: footer">footer</div>
</div>
</div>
<form id="deleteClasseForm" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<!--映入jclary，src-->
<script th:src="@{/js/jquery-3.2.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/layer/src/layer.js}"></script>
<script>
    //删除指定id试题
    $(".deleteBtn").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确实要删除吗？")){
            //提交表单
            $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
            layer.msg("删除成功", {time:2000, icon:6});
        }else {
            layer.msg("删除取消", {time:2000, icon:5, shift:6});
        }
        return false;
    });

</script>
</body>
</html>