<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon">
    <title>中医知识测验子系统-试卷问题管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/demo.css}" rel="stylesheet">
    <link th:href="@{/css/ready.css}" rel="stylesheet">
    <link th:href="@{/datatable/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body th:style="'background:url('+@{/images/backperson1.png}+') right bottom no-repeat fixed,url('+@{/images/backperson2.png}+') left bottom no-repeat fixed;background-size: 450px;background-color: #f5f5f5;'">
<div th:fragment="navbar" class="wrapper" role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
</div>
<div class="wrapper">
    <!--header-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toExam')"></div>

    <!--main panel-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title" th:text="试题管理"></h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-head-bg-success">
                                    <thead>
                                    <tr>
                                        <th scope="col">批量删除</th>
                                        <th scope="col">#</th>
                                        <th scope="col">题目</th>
                                        <th scope="col">答案</th>
                                        <th scope="col">错误率</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form th:action="@{/paper/deleteAllQues/}+${papid}" method="post">
                                    <tr th:each="quepap,quepapStat:${questionPapers}">
                                        <td>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" th:name="ques" th:value="${qids.get(quepapStat.count-1)}">
                                                <span class="form-check-sign">-</span>
                                            </label>
                                        </td>
                                        <td th:text="${quepapStat.count}"></td>
                                        <td th:text="${quepap.getAllName()}"></td>
                                        <td th:text="${quepap.getAnswer()}"></td>
                                        <td th:text="${quepap.getFalseRateString()}"></td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" th:href="'/paper/detachQuestion?paperId='+${papid}+'&qpId='+${qids.get(quepapStat.count-1)}">移除</a>
                                        </td>
                                    </tr>
                                                <button class="btn btn-danger" th:text="一键删除"></button>
                                        <span>&nbsp;&nbsp;</span>
                                        <a class="btn btn-primary" href="#" th:href="@{/paper/toAddQuestion/}+${papid}">添加试题</a>
                                        <span>&nbsp;&nbsp;</span>
                                        <a class="btn btn-info" href="#" th:href="@{/paper/toAddPaper1}+'?name='+${paperName}+'&a='+${a}+'&b='+${b}+'&c='+${c}">返回上一步</a>
                                    </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left: 1000px;">
                        <a class="btn btn-danger" href="#" th:href="@{/exam/toExam/}">撤销</a>
                        <span>&nbsp;&nbsp;</span>
                        <a class="btn btn btn-success btn-round" th:href="@{/paper/publish/}+${papid}">发布</a>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div th:replace="fragments/footer :: footer">footer</div>
</div>
</div>
<form id="deleteClasseForm" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<!--映入jclary，src-->
<script th:src="@{/js/jquery-3.2.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/layer/src/layer.js}"></script>
<script>
    //删除指定id试题
    $(".deleteBtn").click(function () {
        //获取uri
        // $(this).attr("del_uri")
        //提交表单
        // $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
        if(confirm("确实要删除吗？")){
            //提交表单
            $("#deleteClasseForm").attr("action",$(this).attr("del_uri")).submit();
            layer.msg("删除成功", {time:2000, icon:6});
        }else {
            layer.msg("删除取消", {time:2000, icon:5, shift:6});
        }
        return false;
    });

</script>
</body>
</html>