<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon">
    <title>中医知识测验子系统首页</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/datatable/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body th:style="'background:url('+@{/images/backperson1.png}+') right bottom no-repeat fixed,url('+@{/images/backperson2.png}+') left bottom no-repeat fixed;background-size: 450px;background-color: #f5f5f5;'">
<div th:fragment="navbar" class="wrapper" role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
</div>



<div class="jumbotron">
    <h2>中医知识测验子系统</h2>
    <p class="lead" style="margin-left: 40%; margin-top: 5%;">注册后即可参与测验<br/><br/></p>
    <br>
    <p><a class="btn btn-lg btn-info" href="#" role="button" style="margin-left: 42%; " th:href="@{prexam/toAddStudent}">注册</a></p>
    <p><a class="btn btn-lg btn-success" href="#" role="button" style="margin-left: 42%; " th:href="@{foreLogin}">登录</a></p>
</div>


<!--footer-->
<div th:replace="fragments/footer :: footer">footer</div>
</div> <!-- /container -->
<script th:src="@{/js/jquery-3.2.1/jquery.min.js}" type="text/javascript"></script>
</body>
</html>
