<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon">
    <title>中医知识测验子系统-测验结果</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/demo.css}" rel="stylesheet">
    <link th:href="@{/css/ready.css}" rel="stylesheet">
    <link th:href="@{/datatable/jquery.dataTables.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body th:style="'background:url('+@{/images/backperson1.png}+') right bottom no-repeat fixed,url('+@{/images/backperson2.png}+') left bottom no-repeat fixed;background-size: 450px;background-color: #f5f5f5;'">
<div th:fragment="navbar" class="wrapper" role="navigation">
    <div th:replace="fragments/header :: header">Header</div>
</div>

<div class="container">

    <!--examnav-->
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toHist')"></div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-warning" th:text="'总分:'+${score_all}+'得分:'+${score_get}"></div>
                <div>
                    <div>
                        <div class="row form-check" th:each="qb,qbStat:${questions}">
                            <div class="col-xs-12 col-lg-12">
                                <!--分三种题型显示以及提交值-->
                                <label th:if="${qb.getType()=='sb'||qb.getType()=='jb'}" th:text="${qbStat.count}+'.('+'多选题'+')'+${qb.getQuestionName()}" ></label><br>
                                <label th:if="${qb.getType()!='sb'&&qb.getType()!='jb'}" th:text="${qbStat.count}+'.'+${qb.getQuestionName()}" ></label>
                                <br th:if="${qb.getType()!='sb'&&qb.getType()!='jb'}">
                                <label class="form-radio-label" th:if="${qb.getType()=='sa'||qb.getType()=='ja'}">
                                    <input class="form-radio-input" type="radio"   th:name="${qb.getType()+qb.getId()}" value="A" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('A')}" checked="checked" disabled>
                                    <input class="form-radio-input" type="radio"   th:name="${qb.getType()+qb.getId()}" value="A" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('A')}" disabled>
                                    <span class="form-radio-sign" th:text="'A.'+${qb.getAnswerA()}" ></span><br>
                                    <input class="form-radio-input" type="radio" th:name="${qb.getType()+qb.getId()}" value="B" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('B')}" checked="checked" disabled>
                                    <input class="form-radio-input" type="radio" th:name="${qb.getType()+qb.getId()}" value="B" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('B')}"  disabled>
                                    <span class="form-radio-sign" th:text="'B.'+${qb.getAnswerB()}"></span><br>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="C" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('C')}" checked="checked" disabled>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="C" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('C')}"  disabled>
                                    <span class="form-radio-sign"   th:text="'C.'+${qb.getAnswerC()}"></span><br>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="D" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('D')}" checked="checked" disabled>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="D" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('D')}" disabled>
                                    <span class="form-radio-sign" th:text="'D.'+${qb.getAnswerD()}"></span><br>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="E" th:if="${qb.getAnswerE()!=NULL&&records.get(qbStat.count-1).getYourAnswer().contains('E')}" checked="checked" disabled>
                                    <input class="form-radio-input"  type="radio" th:name="${qb.getType()+qb.getId()}" value="E" th:if="${qb.getAnswerE()!=NULL&&!records.get(qbStat.count-1).getYourAnswer().contains('E')}" disabled>
                                    <span class="form-radio-sign" th:text="'E.'+${qb.getAnswerE()}" th:if="${qb.getAnswerE()!=NULL}"></span><br><br>
                                </label>
                                <label class="form-radio-label" th:if="${qb.getType()=='sb'||qb.getType()=='jb'}">
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="A" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('A')}" checked="checked" disabled>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="A" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('A')}" disabled>
                                    <span class="form-check-sign" th:text="'A.'+${qb.getAnswerA()}"></span><br>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="B" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('B')}" checked="checked" disabled>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="B" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('B')}" disabled>
                                    <span class="form-check-sign" th:text="'B.'+${qb.getAnswerB()}"></span><br>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="C" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('C')}" checked="checked" disabled>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="C" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('C')}" disabled>
                                    <span class="form-check-sign" th:text="'C.'+${qb.getAnswerC()}"></span><br>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="D" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('D')}" checked="checked" disabled>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="D" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('D')}" disabled>
                                    <span class="form-check-sign" th:text="'D.'+${qb.getAnswerD()}"></span><br>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="E" th:if="${records.get(qbStat.count-1).getYourAnswer().contains('E')}" checked="checked" disabled>
                                    <input class="form-check-input" type="checkbox"  th:name="${qb.getType()+qb.getId()}" value="E" th:if="${!records.get(qbStat.count-1).getYourAnswer().contains('E')}" disabled>
                                    <span class="form-check-sign" th:text="'E.'+${qb.getAnswerE()}"></span><br>
                                    <br>
                                </label>
                                <label class="form-radio-label" th:if="${qb.getType()=='sc'||qb.getType()=='jc'}">
                                    <input type="text" class="form-text" th:name="${qb.getType()+qb.getId()}" th:value="${records.get(qbStat.count-1).getYourAnswer()}" disabled>
                                </label>
                            </div>
                            <div class="col-xs-12 col-lg-12">
                                <u th:if="${records.get(qbStat.count-1).getIsRight()==1}">
                                    <label class="alert-success" th:text="正确"></label>
                                </u>
                                <u th:if="${records.get(qbStat.count-1).getIsRight()==0}">
                                    <label class="alert-danger" th:text="'正确答案：'+${records.get(qbStat.count-1).getRightAnswer()}"></label>
                                </u>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <div th:replace="fragments/footer :: footer">footer</div>
</div> <!-- /container -->
</body>
</html>
